#titlePanel{
  background-color: burlywood;

}

#panel1{
   /* background-color: #ff3689;*/
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    line-height: 40px;
    background-color: #ded4a6;

    align-: center;
}
#panel2{
    margin-left:30% ;
}
body{

    /*background-color: #33ffe4;*/
}